/* REGOLE DI RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style: none;
    line-height: 2rem;
}

header, .logo{
    display: inline;
    vertical-align: middle;
    font-size: 85px;
    font-weight: 700;

    /*     display: inline;
    vertical-align: middle;
    font-size: 77px;
    font-weight: 700;
    width: 15%;
    margin-right: -12px; */
}
.logo img{
    width: 12%;
    margin: 10px 0px -5px 30px;
}
.logo h1{
    display:inline;
    width: 20%;
}

.menu, .container{
    width: 500px;
    padding: 0.75rem 2rem;
    background-color: rgba(255, 255, 255, 1);
}

main {
    background-color: rgba(239, 241, 242, 1);
    padding: 1rem 0rem 1rem 0rem;
}


.menu{
    margin: 0.3rem auto;
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;

}

.menu button{
    font-size: 0.5rem;
    border-radius: 13%;
    padding: 0.3rem
}

.button1{
    background-color:rgba(71, 173, 241, 1);
    border-color: rgba(71, 173, 241, 1);

    color: white;
}

.button2{
    border: rgb(177, 176, 176) solid 1px;
    color: rgb(177, 176, 176);
    background-color: white;

}

.container{
    margin: 0.2rem auto;
    margin-bottom: 20px;
}

.container h3{
    margin-top: 26px;
}

.arrow{
    font-size: 30px;
    vertical-align: -webkit-baseline-middle;
}

.tick, .wrong {
    text-align: center;
    border-radius: 131%;
    padding: 4px;
    font-size: 12px;
}

.tick {
    color: rgba(117, 227, 203, 1);
    border: 2px solid rgba(117, 227, 203, 1);   
}
.wrong{
    color:red;
    border: 2px solid red;
}
    
.blue-back, .purple-back, .green-back, .orange-back, .fucsia-back, .green2-back {
    font-size: 10px;
    color: white;
    padding: 9px 10px;
    border-radius: 12px;
    margin-left: 3px;
    font-weight: 700;
}

.blue-back{
    background-color:rgba(71, 173, 241, 1);
    border-color: rgba(71, 173, 241, 1);
}

.purple-back{
    background-color:rgba(156, 114, 228, 1) ;
    border-color:rgba(156, 114, 228, 1) ;
}
.green-back{
    background-color:rgba(100, 192, 169, 1) ;
    border-color:rgba(100, 192, 169, 1) ;

}
.orange-back{
    background-color:rgba(242, 158, 51, 1) ;
    border-color: rgba(242, 158, 51, 1) ;

}
.fucsia-back{
    background-color:rgba(216, 99, 161, 1) ;
    border-color:rgba(216, 99, 161, 1) ;

}
.green2-back{
    background-color:rgba(176, 201, 38, 1) ;
    border-color:rgba(176, 201, 38, 1) ;
}